@tailwind base;
@tailwind components;
@tailwind utilities;

  @layer components {
    #app{
       @apply p-2 bg-primary-blue-dark
       font-fira overflow-hidden h-screen
    }
    #app_about{
      @apply p-2 bg-primary-blue-dark
      font-fira
   }
    .main{
      @apply container mx-auto h-full
      bg-primary-blue-light rounded-lg
      text-secondary-gray-light text-labels
    }
    .content{
      @apply h-full border-[1.5px] 
       rounded-lg border-line w-full relative
    }
    .menu{
      @apply rounded-t-lg 
      overflow-hidden w-full
    }
    .home{
      @apply flex justify-between items-center px-5 h-16 
      border-b-[1.5px] border-line 
    }
    .name{
      @apply flex h-full items-center
      lg:border-line lg:border-r-2 lg:py-4 lg:pl-4 lg:pr-28
    } 
    .active_menu{
       @apply flex flex-col justify-between absolute
        w-full z-10 bg-primary-blue-light hidden
    }
    .hidden_menu{
      @apply flex flex-col gap-4 relative
    }
    .find_me2{
      @apply flex w-full items-center
      border-b-[1.5px] border-line h-12
    }
    .find{
      @apply w-full pl-4
    }
    .links{
       @apply flex w-1/2 h-full justify-between
       items-center
    }
    .twitter{
    @apply border-line border-l-[1.5px] flex items-center
     justify-center w-full h-full
    }
    .facebook{
      @apply border-line border-l-[1.5px] w-full h-full
      flex items-center justify-center
    }
    .github{
        @apply border-line border-l-[1.5px] w-full h-full 
      flex items-center justify-center 
    }
    i{
         @apply text-secondary-gray-light
    }
    .hello{
      @apply border-line border-b-[1.5px] p-4
      lg:border-r-2 lg:p-4 text-text
    }
    .about{
      @apply border-line border-b-[1.5px] p-4 text-text 
      lg:border-r-2 lg:p-4
    }
    .projects{
      @apply border-line border-b-[1.5px] p-4 text-text 
      lg:border-r-2 lg:p-4
    }
    .contact{
      @apply border-line border-b-[1.5px] p-4 text-text 
      lg:border-r-2 lg:p-4
    }
    .my_description{
      @apply text-text flex flex-col justify-evenly
      items-center relative overflow-hidden h-full
      w-screen
    }
    .bg{
      @apply absolute
    }
    .desc_second{
      @apply w-3/4 
    }
    .hi{
      @apply text-body 
    }
    .my_name{
      @apply text-heading leading-tight
    }
    .front_dev{
      @apply text-body-lg text-secondary-green-light
    }
    .code_snipet{
      @apply w-3/4 space-y-4 text-code
    }
    .find_me{
      @apply  text-secondary-gray-light
    }
    .code{
      @apply flex flex-row flex-wrap gap-x-3
    }
    .var{
      @apply text-secondary-blue-soft
    }
    .git{
      @apply text-secondary-green-light
    }
    .http{
      @apply text-accent-orange
    }
    .list{
      @apply w-full flex flex-col gap-1
    }
    .title{
      @apply text-text border-line border-b-[1.5px]
      p-5
    }
    .infos{
      @apply flex bg-line p-1 items-center text-text
    }
    .ri-arrow-right-s-fill{
      @apply text-text p-1
    }
    .infos_details{
      @apply p-4
    }
    .info_title{
      @apply py-4
    }
    .personal_info{
      @apply text-text py-4
    }
    .profil{
      @apply flex items-center gap-4
    }
    .name{
      @apply text-secondary-blue-soft
    }
    .my_profil{
      @apply flex justify-between 
    }
    .details{
      @apply hover:text-text
    }


    
    .btn-primary {
      @apply text-primary-blue-dark 
      hover:bg-btn-primary-hover font-fira 
      bg-accent-orange rounded-lg text-xs 
      font-medium p-2 m-3
    }
    .btn-default {
      @apply text-white font-fira 
      hover:bg-btn-default-hover 
      bg-btn-bg-default rounded-lg 
      text-xs font-medium p-2 m-3
    }
    .btn-ghost {
      @apply text-white font-fira bg-transparent 
      hover:border-opacity-50 border-white border-2 
      rounded-lg text-xs font-medium p-2 m-3
    }
    .buttons {
      @apply hidden
    }
    .icons{
      @apply bg-primary-blue-light p-2 w-5 h-6 
      text-secondary-green-light hidden
    }
  }
