@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main{
    @apply border-2 border-secondary-gray-light
    rounded-lg bg-primary-blue-light w-screen h-screen;
  }
  .btn-primary {
    @apply text-primary-blue-dark 
    hover:bg-btn-primary-hover font-fira 
    bg-accent-orange rounded-lg text-xs 
    font-medium p-2 m-3;
  }
  .btn-default {
    @apply text-white font-fira 
    hover:bg-btn-default-hover 
    bg-btn-bg-default rounded-lg 
    text-xs font-medium p-2 m-3;
  }
  .btn-ghost {
    @apply text-white font-fira bg-transparent 
    hover:border-opacity-50 border-white border-2 
    rounded-lg text-xs font-medium p-2 m-3;
  }

  i{
    @apply bg-primary-blue-light p-2 w-5 h-6 
    text-secondary-green-light;
  }
}