@tailwind base;
@tailwind components;
@tailwind utilities;

  @layer components {
    #app{
       @apply p-2 bg-primary-blue-dark
       font-fira overflow-hidden h-screen
    }
    .main{
      @apply container mx-auto h-full
      bg-primary-blue-light rounded-lg
      text-secondary-gray-light text-labels
    }
    .content{
      @apply h-full border-[1.5px] 
       rounded-lg border-line w-full
    }
    .menu{
      @apply border-b-[1.5px] rounded-t-lg border-line
      overflow-hidden w-full h-full
    }
    .home{
      @apply flex justify-between items-center px-5 h-16 
      border-b-[1.5px] border-line
    }
    .name{
      @apply flex h-full items-center
      lg:border-line lg:border-r-2 lg:py-4 lg:pl-4 lg:pr-28
    } 
    .active_menu{
       @apply h-[91vh] flex flex-col justify-between
    }
    .hidden_menu{
      @apply flex flex-col gap-4
    }
    .find_me2{
      @apply grid grid-cols-6 w-full justify-between
      border-t-[1.5px] justify-items-center place-self-end
      border-line 
    }
    .find{
      @apply col-span-3  p-4 w-full
    }
    .twitter{
    @apply border-line border-l-[1.5px] w-full p-4
    }
    .facebook{
      @apply border-line border-l-[1.5px] w-full p-4
      }
      .github{
        @apply border-line border-l-[1.5px] w-full p-4
        }
    .hello{
      @apply border-line border-b-[1.5px] p-4 text-text
      lg:border-r-2 lg:p-4
    }
    .about{
      @apply border-line border-b-[1.5px] p-4 text-text 
      lg:border-r-2 lg:p-4
    }
    .projects{
      @apply border-line border-b-[1.5px] p-4 text-text 
      lg:border-r-2 lg:p-4
    }
    .contact{
      @apply border-line border-b-[1.5px] p-4 text-text 
      lg:border-r-2 lg:p-4
    }
    .my_description{
      @apply text-text flex flex-col justify-evenly
      items-center relative overflow-hidden h-full
      w-screen hidden
    }
    .bg{
      @apply absolute
    }
    .desc_second{
      @apply w-3/4 
    }
    .hi{
      @apply text-body 
    }
    .my_name{
      @apply text-heading leading-tight
    }
    .front_dev{
      @apply text-body-lg text-secondary-green-light
    }
    .code_snipet{
      @apply w-3/4 space-y-4 text-code
    }
    .find_me{
      @apply  text-secondary-gray-light
    }
    .code{
      @apply flex flex-row flex-wrap gap-x-3
    }
    .var{
      @apply text-secondary-blue-soft
    }
    .git{
      @apply text-secondary-green-light
    }
    .http{
      @apply text-accent-orange
    }




    
    .btn-primary {
      @apply text-primary-blue-dark 
      hover:bg-btn-primary-hover font-fira 
      bg-accent-orange rounded-lg text-xs 
      font-medium p-2 m-3
    }
    .btn-default {
      @apply text-white font-fira 
      hover:bg-btn-default-hover 
      bg-btn-bg-default rounded-lg 
      text-xs font-medium p-2 m-3
    }
    .btn-ghost {
      @apply text-white font-fira bg-transparent 
      hover:border-opacity-50 border-white border-2 
      rounded-lg text-xs font-medium p-2 m-3
    }
    .buttons {
      @apply hidden
    }
    .icons{
      @apply bg-primary-blue-light p-2 w-5 h-6 
      text-secondary-green-light hidden
    }
  }
